// Run the analysis on AWS Batch
process.executor = 'awsbatch'
// Run the analysis on the specified queue in AWS Batch
process.queue = 'mixed'
// Run in the correct AWS region
aws.region = 'us-west-2'
// Location of the AWS executable in the host machine image
executor.awscli = '/home/ec2-user/miniconda/bin/aws'

// Mount the host folder /docker_scratch to /tmp within the running job
// Use /tmp for scratch space to provide a larger working directory
// Replace with the Job Role ARN for your account
aws {
    region = 'us-west-2'
    batch {
        jobRole = 'arn:aws:iam::064561331775:role/fh-pi-universal-batchservice'
        volumes = ['/docker_scratch:/tmp:rw']
    }
}
